@import "../../assets/commonStyles/color-pallet.scss";


.panel-wrap-bg-1{
    background-image:
    radial-gradient(
      circle closest-side,
      black,
      transparent
    ), url("../../assets/images/main-img.jpeg");
}

.panel-wrap-bg-2{
    background-image:
    radial-gradient(
      circle closest-side,
      black,
      transparent
    ), url("../../assets/images/artlistWalpaper.jpg");
}

.panel-wrap{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 805px;
    .panel-content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-flow: column;
        .panel-title{
            font-size: 55px;
            font-weight: 500;
            color: $white-color;
            margin-bottom: 1.8rem;
            text-align: center;
        }
        .panel-body{
            font-size: 23px;
            text-align: center;
            color: $white-color;
            margin-bottom: 1.5rem;
        }
        .panel-actions button{
            margin-right: 2rem;
        }
    }
}
