.section-title{
    display: flex;
    justify-content: space-between;
    margin-left: 19rem;
    margin-right: 24rem;
}


.wrapper{
    margin-top: 1rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
}

.title{
    font-size: 24px;
    font-weight: 500;
}
