@import "../../assets/commonStyles/color-pallet.scss";

.header-menu{
    padding: 2vh;
    color: $white-color;
    display: flex;
    background-color: $primary-color;
    justify-content: space-around;
    .logo-wrap{
        display: flex;
        align-items: center;
    }
    .menu{
        list-style: none;
        display: flex;
        align-items: center;
    }
    .menu-item{
        margin-right: 3em;
    }
}

